html,
body,
section,
article,
nav,
div,
span,
strong,
h1,
h2,
h3,
p,
ul,
li,
i {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  border: none;
  vertical-align: baseline;
  list-style: none;
}
img {
  width: 300px;
}
a {
  text-decoration: none;
  color: unset;
}
